# IDEs
*.sublime-project
*.sublime-workspace
*.vim
*~
*.swp
*.swo

# Data files
*.csv
*.gz
*.zip
*.tfrecords
/data/

# Build system
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
/build/

# OS specific
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app